
.oddrow, .evenrow{
  margin: 0px;
  padding: 0px;
}

.oddrow{
  background-color:#eeeeee;
}

.evenrow{
  background-color:#fafafa;
}


.pmc_row, .pmc_row_header{
  height: 40px;
  line-height: 40px;
  width:100%;
  float: left;
}


.pushable:hover{
  color: #444;
  text-shadow: 0px 0px 8px rgba(0, 0, 100, 0.3);
}


.pmc_row_header{
  width: 10%;
  margin-left:10px;
}

.wrapper{
  display: flex;
  width: 100%
}

.wrapper:hover{
  background:rgba(0, 0, 100, 0.03);
}

.pmc_row .fa, .pmc_row_header .fa {
  /*vertical-align: middle;
  margin-top: 20%;
  font-size: 20px;
  height: 100%;*/
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}



ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color: #333;
    color: #ddd;
    height: 80px;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

a {
  color: rgb(150, 150, 150);
}

a:hover {
  color: rgb(250, 150, 150);
}



#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#333;
   /*text-align: center;*/
   padding: 5px;
   color: #777;
   font-size: 0.8em;
   margin-top: 30px;  
}

.container-fluid{
  margin-bottom: 50px;
  }