
.oddrow, .evenrow{
}

.oddrow{
  background-color:#efefef;
}

.evenrow{
  background-color:#fafafa;
}

.pmc_row, .pmc_row_header{
  /*padding-top: 3px;*/
  height: 40px;
  line-height: 40px;
  width:100%;
  float: left;
  vertical-align: middle;
}


.pmc_button{
  height: 32px;
  width: 32px;
  border: 0px;
  border-radius: 8px;
  background: #ddd;
  /*margin: 4px;*/
}


.pmc_row_header{
  width: 50px;
}

.wrapper {
  display: flex;
}

.pmc_row .fa, .pmc_row_header .fa {
  vertical-align: middle;
  /*margin-top: 25%;
  margin: auto;*/
  font-size: 20px;
  height: 100%;
}

.pmc_nav {
  display: block;
  background: black;
  color: gray;
  padding: 10px;
  width: 100%;
  transition: 0.3s;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color: #333;
    color: #ddd;
    height: 80px;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}
