$def with (nodes, stats)


<HTML>
    <HEAD>
        <META name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="static/css/chartist.min.css">
        <script src="static/js/chartist.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
         <script src="https://unpkg.com/vue/dist/vue.js"></script> 
        <LINK rel="stylesheet" href="static/bs/css/bootstrap.min.css" crossorigin="anonymous">
        <LINK rel="stylesheet" href="static/bs/fa/css/font-awesome.min.css">
        <LINK rel="stylesheet" href="static/custom.css"> 
        <LINK rel="icon" type="image/png" href="static/img/icon_128.png" sizes="128x128">
</HEAD>

<BODY>


<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  Button
</button>




<div id="main">
</div>

<div id="stats">
</div>



    </BODY>
        <script src="static/js/dash.js"></script>
    
</HTML>
