$def with (nodes, stats)


<HTML>
    <HEAD>
        <META name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
         <link rel="stylesheet" href="static/css/chartist.min.css"> 
         <script src="static/js/chartist.min.js"></script> 
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
        <!--<LINK rel="stylesheet" href="static/bs/fa/css/font-awesome.min.css">-->
        <LINK rel="icon" type="image/png" href="static/img/icon_128.png" sizes="128x128">
    </HEAD>

<BODY>
    <!--<button onClick="update_data()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    update
    </button>-->


<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <div id="hostname">
                <div class="mdl-spinner mdl-js-spinner is-active"></div>
            </div>
            <div id="refreshslider" >    
                <p style="width:300px">
                    <input class="mdl-slider mdl-js-slider" type="range" id="s1" min="1" max="10" value="4" step="1">
                </p>
            </div>
        </div>
    </header>

        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Hosts</span>
            <nav id="hostlist" class="mdl-navigation">
                <a class="mdl-navigation__link" href="">
                    <div class="mdl-spinner mdl-js-spinner is-active"></div>
                </a>
            </nav>
        </div>

        <main class="mdl-layout__content">
            <div class="page-content">
                <div class="stats" id="main">
                    <div class="mdl-spinner mdl-js-spinner is-active"></div>
                </div>
            </div>
        </main>
    </BODY>
    <script src="static/js/dash.js"></script>
    <link rel="stylesheet" href="static/dash.css"> 
    
</HTML>
