<!doctype html>

<HTML>
    <HEAD>
        <META name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
         <link rel="stylesheet" href="static/css/chartist.min.css"> 
         <script src="static/js/chartist.min.js"></script> 
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
       <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-orange.min.css" />
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <link rel="stylesheet" href="static/dash.css"> 
        <!--<LINK rel="stylesheet" href="static/bs/fa/css/font-awesome.min.css">-->
        <LINK rel="icon" type="image/png" href="static/img/icon_128.png" sizes="128x128">
    </HEAD>

<BODY>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        
        <!--The Navbar-->
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title" id="hostname">
                No host active
                </span>
                <div class="mdl-layout-spacer"></div>
                <!--<a href="" id="" class="mdl-navigation__link" onclick='setCurrentHost(); return false;'>' + host + '</a>', host);-->
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="" onclick="displayOptions('options'); return false;">options</a>
                </nav>
            </div>

            <div id='options' style="display: none">
                

                <div class="optiongroup">
                    <div class="optionitem">Refresh delay</div>
                    <div class="optionitem" id="interval">3s</div>
                </div>
                <p style="width:200px">
                <input id="slider-interval" class="mdl-slider mdl-js-slider" type="range" min="1" max="20" value="10" tabindex="0" oninput="changeInterval(this.value);document.getElementById('interval').innerHTML = Math.round(this.value*0.3*10)/10 + 's';">
                </p>
                
            </div>

        </header>

        <!--The sidebar-->
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Hosts</span>
            <nav id="hostlist" class="mdl-navigation">
                <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
            </nav>

        </div>

        <!--The page content-->
        <main class="mdl-layout__content">
            <div class="page-content">
                <div class="stats" id="main">
                    <div style="margin:50%">
                        <div class="mdl-spinner mdl-js-spinner is-active"></div>
                    </div>
                </div>
            </div>
        </main>

    </div>

            


</BODY>

<script src="static/js/dash.js"></script>
    
</HTML>
