$def with (nodes, stats)


<HTML>
    <HEAD>
        <META name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="static/css/chartist.min.css">
        <script src="static/js/chartist.min.js"></script>
        <LINK rel="stylesheet" href="static/bs/css/bootstrap.min.css" crossorigin="anonymous">
        <LINK rel="stylesheet" href="static/bs/fa/css/font-awesome.min.css">
        <LINK rel="stylesheet" href="static/custom.css"> 
        <LINK rel="icon" type="image/png" href="static/img/icon_128.png" sizes="128x128">
</HEAD>

<BODY>
    <UL class="topnav" id="myTopnav">
        <img src="static/img/logo.png" height="80%"> </img>
    </UL>
    <BR>
        <DIV class="container-fluid">

            $if len(nodes.keys()) == 0:
                <i class="fa fa-power-off" aria-hidden="true"></i> No active clients registered.

            $for num, (host, server_dict) in enumerate(nodes.iteritems()):
                $if num % 2 == 0:
                    <DIV class="col-md-12 oddrow">
                $else:
                    <DIV class="col-md-12 evenrow">

                <DIV class="wrapper"  onclick="toggle('$server_dict['id'].latest');">
                
                    <div class="pmc_row_header">
                        <i class="fa $server_dict['icon'].latest" aria-hidden="true"></i>
                    </div>
                    <div class="pmc_row">
                        $host
                    </div>
                    <div class="pmc_row_header">
                        $if server_dict['inactive'].latest:
                            <i class="fa fa-ban" aria-hidden="true"></i>
                        $else:
                            <i class="fa fa-check" aria-hidden="true"></i>
                    </div>

                    <div class="pmc_row_header">
                        <i class="fa fa-info-circle pushable" aria-hidden="true"></i>
                    </div>
                </DIV> <!-- wrapper -->
                <DIV id="$server_dict['id'].latest" class="collapse col-md-12">
                    <!--<div class="ct-chart ct-perfect-fourth" style="width: 400px;height100px;"></div>
                    <script>var data = {labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],series: [[5, 2, 4, 2, 0]]};new Chartist.Line('.ct-chart', data);</script>-->

                    <UL class="list-group">
                    $for num, (item, value) in enumerate(server_dict.iteritems()):
                        <li class="list-group-item"><strong>$item:</strong>
                        $#:graph_hist(value)
                        $if value.graphable:
                            $value.latest
                            <div class="ct-chart ct-perfect-fourth" data-x-axis="" data-y-axis="" id="$server_dict['id'].latest$num" style="height: 100px; width:100%"></div>
                            <script>


                            var options = {
                                showPoint: false,
                                lineSmooth: false,
                                width: 900,
                                height: 100,
                                showArea: true,
                                axisX: {
                                    showGrid: false,
                                    labelInterpolationFnc: function skipLabels(value, index) {
                                        return index % $int(float(len(value.values))/10)  === 0 ? value : null;
                                    }
                                },
                                axisY: {
                                    showGrid: false
                                },
                            };

                            var responsiveOptions = [
                                ['screen and (min-width: 641px) and (max-width: 1024px)', {width: 600, height: 100}],
                                ['screen and (max-width: 640px)', {width: 400, height: 100}]
                            ];

                            new Chartist.Line('#$server_dict['id'].latest$num', {
                                series: [$value.values],
                                labels: $value.deltatimes
                                
                            }, options, responsiveOptions);

                            </script>
                        $else:
                            $value.latest
                        </li>
                    </UL>
                </DIV>
                </DIV> 
        
        </DIV> <!-- container-fluid -->

        <!--Some generic info goes into the footer-->
        <div id="footer">
            <i class="fa fa-bolt" aria-hidden="true"></i>
            poor man's cloud 
            <i class="fa fa-github" aria-hidden="true"></i>
            <a href=http://github.com/woelper/pmc>github</a>
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            $len(nodes)
            tracked, $stats['updates'] host updates, $stats['values'] value updates 
            <i class="fa fa-rocket" aria-hidden="true"></i> 
            don't panic
        </div>

        <SCRIPT src="static/js/jquery.min.js"></SCRIPT>
        <SCRIPT src="static/bs/js/bootstrap.min.js" crossorigin="anonymous"></SCRIPT>
        <SCRIPT>


            function toggle(id) {
                var e = document.getElementById(id);
                if(e.style.display == 'block')
                    e.style.display = 'none';
                else
                    e.style.display = 'block';
            }

            //jQuery(".collapse").show();
            // jQuery(".collapsde").hide();

            // jQuery(document).ready(function(){
            //     jQuery(".collapse").show();
            //     jQuery(".collapse").hide();

            // });
        </SCRIPT>


    </BODY>
</HTML>
