$def with (nodes)

<HTML>
    <HEAD>
        <META name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        
        <LINK rel="stylesheet" href="static/bs/css/bootstrap.min.css" crossorigin="anonymous">
        <LINK rel="stylesheet" href="static/bs/fa/css/font-awesome.min.css">
        <LINK rel="stylesheet" href="static/custom.css"> 
        <LINK rel="icon" type="image/png" href="static/img/favicon.ico"/>
        <LINK rel="icon" type="image/png" href="static/img/icon_64.png" sizes="64x64">

    </HEAD>



    <BODY>

<ul class="topnav" id="myTopnav">
<li>pmc</li>
</ul>
<br>

        <DIV class="container-fluid">
            $if len(nodes) == 0:
                No active clients registered.
            $for num, server_dict in enumerate(nodes):
                $if 'host' in server_dict:
                    $if num % 2 == 0:
                        <DIV class="col-md-12 oddrow">
                    $else:
                        <DIV class="col-md-12 evenrow">
                    <DIV class="wrapper" data-toggle="collapse" data-target="#$server_dict['host']">
                        <div class="pmc_row_header">${num+1}</div>
                        <div class="pmc_row">
                            <i class="fa fa-server" aria-hidden="true"></i>
                            $server_dict['host']
                        </div>
                        <button class="pmc_button" data-toggle="collapse" data-target="#$server_dict['host']">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </button>
                    </DIV> <!-- wrapper -->
                    <DIV id="$server_dict['host']" class="collapse col-md-12">
                        <UL class="list-group">
                        $for item, value in server_dict.iteritems():
                            <li class="list-group-item"><strong>$item:</strong> $value</li>                	
                        </UL>
                    </DIV>
                </DIV> 
        </DIV> <!-- container-fluid -->



        <SCRIPT src="static/js/jquery.min.js"></SCRIPT>
        <SCRIPT src="static/bs/js/bootstrap.min.js" crossorigin="anonymous"></SCRIPT>
    
    </BODY>
</HTML>