$def with (nodes, stats)

$code:
    def is_list_of_pure_type(list_, type_):
        # bool is instance of int in python
        if type_ == int:
            if any([isinstance(l, bool) for l in list_]):
                return False
        return all([isinstance(l, type_) for l in list_])
    
    def findminmax(list_of_num):
        maxval = 0
        minval = float('Inf')
        for i in list_of_num:
            if i > maxval:
                maxval = i
            if i < minval:
                minval = i
        return maxval, minval
 
    def graph_hist(h_list):
        output = []
        if is_list_of_pure_type(h_list, int) or is_list_of_pure_type(h_list, float):
            maxval, minval = findminmax(h_list)
            output.append(str(h_list[0]))
            output.append('<ul class="chart">')
            for n, val in enumerate(h_list):
                minval = 0
                percent = int(((val-(minval))/float(maxval))*100)
                output.append('<li><span style="height:{0}%" title="{1}"></span></li>'.format(percent, val))
            output.append('</ul>')
            return '\n'.join(output)

        
        num = float(len(h_list))
        output.append(str(h_list[0]))
        for i, name in enumerate(h_list):
            alpha = int(((i) * (1/num))*255)
            #output.append('<div class="history" style="color: rgb({0},{0},{0})">{1}</div>'.format(alpha, name))
        return '\n'.join(output)

<HTML>
    <HEAD>
        <META name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        
        <!--<LINK rel="stylesheet" href="static/bs/css/bootstrap.min.css" crossorigin="anonymous">-->
        <!--<LINK rel="stylesheet" href="static/bs/fa/css/font-awesome.min.css">-->
        <LINK rel="stylesheet" href="static/custom.css"> 
        <!-- <LINK rel="icon" type="image/png" href="static/img/favicon.ico"/> -->
        <LINK rel="icon" type="image/png" href="static/img/icon_128.png" sizes="128x128">
</HEAD>

<BODY>

    <UL class="topnav" id="myTopnav">
        <img src="static/img/logo.png" height="80%"> </img>
    </UL>
    <BR>

        <DIV class="container-fluid">


            $if len(nodes.keys()) == 0:
                <i class="fa fa-power-off" aria-hidden="true"></i> No active clients registered.
   

            $for num, (host, server_dict) in enumerate(nodes.iteritems()):
                $if num % 2 == 0:
                    <DIV class="col-md-12 oddrow">
                $else:
                    <DIV class="col-md-12 evenrow">
                <DIV class="wrapper" data-toggle="collapse" data-target="#$server_dict['id'][0]">
                    <div class="pmc_row_header">
                        <i class="fa $server_dict['icon'][0]" aria-hidden="true"></i>
                    </div>
                    <div class="pmc_row">
                        $host
                    </div>
                    <div class="pmc_row_header">
                        $if server_dict['inactive'][0]:
                            <i class="fa fa-ban" aria-hidden="true"></i>
                        $else:
                            <i class="fa fa-check" aria-hidden="true"></i>
                    </div>

                    <div class="pmc_row_header">
                        <i class="fa fa-info-circle pushable" aria-hidden="true"></i>
                    </div>
                </DIV> <!-- wrapper -->
                <DIV id="$server_dict['id'][0]" class="collapse col-md-12">
                    <UL class="list-group">
                    $for item, value in server_dict.iteritems():
                        <li class="list-group-item"><strong>$item:</strong>
                        $#value[0]
                        
                        $:graph_hist(value)
                        </li>
                    </UL>
                </DIV>
                </DIV> 
        
        </DIV> <!-- container-fluid -->


        <!--Some generic info goes into the footer-->
        <div id="footer">
            <i class="fa fa-bolt" aria-hidden="true"></i>
            poor man's cloud 
            <i class="fa fa-github" aria-hidden="true"></i>
            <a href=http://github.com/woelper/pmc>github</a>
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            $len(nodes)
            tracked, $stats['updates'] updates received 
            <i class="fa fa-rocket" aria-hidden="true"></i> 
            don't panic
        </div>

        <SCRIPT src="static/js/jquery.min.js"></SCRIPT>
        <SCRIPT src="static/bs/js/bootstrap.min.js" crossorigin="anonymous"></SCRIPT>
    
        <script>
            var cb = function() {
                var l = document.createElement('link'); l.rel = 'stylesheet';
                l.href = 'static/bs/fa/css/font-awesome.min.css';
                var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
            };
            var raf = requestAnimationFrame || mozRequestAnimationFrame ||
            webkitRequestAnimationFrame || msRequestAnimationFrame;
            if (raf) raf(cb);
            else window.addEventListener('load', cb);
        </script>

        <script>
            var cb = function() {
                var l = document.createElement('link'); l.rel = 'stylesheet';
                l.href = 'static/bs/css/bootstrap.min.css';
                var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
            };
            var raf = requestAnimationFrame || mozRequestAnimationFrame ||
            webkitRequestAnimationFrame || msRequestAnimationFrame;
            if (raf) raf(cb);
            else window.addEventListener('load', cb);
        </script>


    </BODY>
</HTML>
