.stats {
    margin-top: 50px;
}

/* CHART STUFF */
.ct-series-a .ct-line {
  /*stroke: rebeccapurple;*/
  stroke: rgb(103,58,183);
  stroke-width: 1px;
}

.ct-series-a .ct-area{
  /*fill: #707070;*/
  fill: rgba(103,58,183,0.7);
  
}

.ct-point{
    stroke: rgb(103,58,183) !important;
    stroke-width: 4px;
}

/*
.ct-chart-line {
  margin-top: 20px;
  margin-left: 5px;
}*/


.dataitem{
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.06);
}


.dataitem b{
  /*padding: 5px;*/
  padding-left: 15px;
  /*background: rgba(0, 0, 0, 0.06);*/
}

#options {
  /*width: 100px;*/
  /*margin: 10px;*/
  padding: 5px;
  background: rgba(0, 0, 0, 0.2);
}

.optionitem {
  display: inline-block;
}

.optiongroup {
  margin-left: 26px;
}

.mdl-slider {
/*margin: 0;*/
}

/*transition:width 300ms ease-in-out, height 300ms ease-in-out;*/

.mdl-layout__header-row{
  /*transition:width 300ms ease-in-out, height 300ms ease-in-out;*/
}

.inactive {
  background: red;
}

.active {
  /*background: red;*/
  background: rgba(0, 0, 0, 0.06);
  
}
