$def with (nodes)


<HTML>
    <HEAD>
        <LINK rel="stylesheet" href="static/bs/css/bootstrap.min.css" crossorigin="anonymous">
        <LINK rel="stylesheet" href="static/bs/fa/css/font-awesome.min.css">
        <LINK rel="icon" type="image/png" href="static/img/favicon.ico"/>
        <SCRIPT src="static/jq/jquery.js"></SCRIPT>
        <SCRIPT src="static/bs/js/bootstrap.min.js" crossorigin="anonymous"></SCRIPT>
    </HEAD>

    <BODY>

        
        <DIV class="container">
        <H3>Machine overview</H3>
        <div class="card-group" id="accordion" role="tablist" aria-multiselectable="true">

        $ i = 0
        $for server_dict in nodes:
            $if 'host' in server_dict:
                $ i += 1
                <div class="card">
                <h4 class="card-header">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#$i" aria-expanded="false" aria-controls="$i">Host $server_dict['host']</a>
                </h4>
                
            <div id="$i" class="panel-collapse collapse in" role="tabpanel">
            <div class="card-block">
            $for item, value in server_dict.iteritems():
                <DIV class="row">   
                <DIV class="col-md-4"><strong>$item</strong></DIV>
                <DIV class="col-md-6">$value</DIV>
                </DIV>
                
            $if 'ssh' in server_dict:
                <DIV class="row">
                <DIV class="col-md-4">
                <A href="$server_dict['ssh']">Connect ssh session</A>
                </DIV>
                </DIV>
            </div> <!-- COLLAPSE DIV-->
            </div>
            </div>


    
    </div>



        </DIV> <!-- CONTAINER -->
    </BODY>

</HTML>