$def with (nodes)


<HTML>
    <HEAD>
        <LINK rel="stylesheet" href="static/bs/css/bootstrap.min.css" crossorigin="anonymous">
        <LINK rel="stylesheet" href="static/bs/fa/css/font-awesome.min.css">
        <LINK rel="icon" type="image/png" href="static/img/favicon.ico"/>
        <SCRIPT src="static/jq/jquery.js"></SCRIPT>
        <SCRIPT src="static/bs/js/bootstrap.min.js" crossorigin="anonymous"></SCRIPT>
    </HEAD>

    <BODY>

        
        <DIV class="container">
        <H3>Machine overview</H3>
        $ i = 0
        $for server_dict in nodes:
            $if 'host' in server_dict:
                $ i += 1
                <DIV class="row">
                <DIV class="col-md-12 pull-left">Host $server_dict['host']
                    <button class="btn label label-pill label-info" data-toggle="collapse" data-target="#$i">expand</button>
                </DIV>
                </DIV>
            <div id="$i" class="collapse">
            $for item, value in server_dict.iteritems():
                <DIV class="row">   
                <DIV class="col-md-4"><strong>$item</strong></DIV>
                <DIV class="col-md-6">$value</DIV>
                </DIV>
            </div>
        </DIV>
    </BODY>

</HTML>