.dataset{
  margin-top: 10px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.06);
}

.offlinebadge {
  /* display: flex; */
  margin-left: auto;
  background-color: rgb(233, 30, 99);
  border-radius: 10px;
  padding: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;

}

.material-icons, .icon-text {
      vertical-align: middle;
    }

.sourcename {
  display: flex;
  align-items: center;
}

.source-details {
  font-size: 0.7em;
  color: #333;
}



#options {
  /*width: 100px;*/
  /*margin: 10px;*/
  padding: 5px;
  background: rgba(0, 0, 0, 0.2);
}

.optionitem {
  display: inline-block;
}

.optiongroup {
  margin-left: 26px;
}


.history {
  display: none;
  /*background: red;*/
  /*background: rgba(0, 0, 0, 0.06);*/
  font-size: 0.7em;
  line-height: 1em;
  color: rgba(0, 0, 0, 0.4);
}


.menu-selected {
  font-weight: bold;
  background: rgba(0, 0, 0, 0.08);
}